@tailwind base;
@tailwind components;
@tailwind utilities;
.absoluteCenter {
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.btnStyle {
  @apply py-1.5 px-4 rounded-md text-sm tracking-wide;
}
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}